


<div id="w">
    <nav>
      <ul id="ddmenu">
        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
        <li>@Html.ActionLink("Оформить заказ", "OrderAdd", "Manager")</li> 
     </ul>
    </nav>
  </div>