


<div id="w">
    <nav>
      <ul id="ddmenu">
        <li>@Html.ActionLink("Главная", "Index", "Home")</li>
        <li>@Html.ActionLink("Редактировать данные", "EditClient", "Client")</li> 
     </ul>
    </nav>
  </div>